.venv/
pycache/
.pytest_cache/
.ruff_cache/
.env
*.pyc

data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

data/vector_store/*
!data/vector_store/.gitkeep

reports/*
!reports/.gitkeep

notebooks/.ipynb_checkpoints/
